.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.login-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #ffffff;
}
.login-ghostbutton {
  gap: 8px;
  display: flex;
  padding: 12px 24px;
  overflow: hidden;
  align-self: center;
  align-items: center;
  border-color: rgba(227, 232, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 40px;
  justify-content: flex-start;
}
.login-text {
  color: var(--dl-color-neutral_05-light);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.login-login03 {
  width: 20px;
  height: 20px;
}
.login-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: -80px;
  align-items: flex-start;
}
.login-container3 {
  flex: 0 0 auto;
  width: 40%;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.login-bg {
  width: auto;
  height: 100%;
  flex-grow: 1;
  align-self: stretch;
  max-height: 600px;
  object-fit: contain;
  border-radius: 40px;
}
.login-container4 {
  flex: 0 0 auto;
  width: 40%;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: center;
  margin-left: var(--dl-space-space-sixunits);
  padding-left: 0px;
  flex-direction: column;
}
.login-gigglr0111 {
  width: 76.5px;
  height: 94.5px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-gigglr01111 {
  top: 0.0146484375px;
  left: -0.1138916015625px;
  width: 76px;
  height: 94px;
  position: absolute;
}
.login-text02 {
  color: var(--dl-color-neutral_07-light);
  height: auto;
  font-size: 40px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: center;
  font-family: Archivo;
  font-weight: 600;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.login-openapp {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.login-button {
  gap: 16px;
  display: flex;
  padding: 14px 48px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 232, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  justify-content: center;
}
.login-loginlogo {
  width: 24px;
  height: 24px;
}
.login-text04 {
  color: var(--dl-color-neutral_07-light);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.login-button1 {
  gap: 16px;
  display: flex;
  padding: 14px 48px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 232, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  justify-content: center;
}
.login-loginlogo1 {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-apple {
  top: 0px;
  left: 2.0000667572021484px;
  width: 20px;
  height: 24px;
  position: absolute;
}
.login-text06 {
  color: var(--dl-color-neutral_07-light);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.login-frame590 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.login-rectangle1313 {
  width: auto;
  height: 1px;
  flex-grow: 1;
  border-radius: 1px;
}
.login-text08 {
  color: var(--dl-color-neutral_04-light);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: center;
  font-family: Archivo;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.login-rectangle1314 {
  width: auto;
  height: 1px;
  flex-grow: 1;
  border-radius: 1px;
}
.login-frame588 {
  gap: 14px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.login-input {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.login-frame562 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.login-text10 {
  color: var(--dl-color-neutral_04-light);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.login-text12 {
  color: var(--dl-color-neutral_04-light);
  height: auto;
  opacity: 0.00;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.login-frame469 {
  gap: 8px;
  display: flex;
  padding: 14px 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 232, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
}
.login-text14 {
  color: var(--dl-color-neutral_04-light);
  height: auto;
  opacity: 0.50;
  flex-grow: 1;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Archivo;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.login-input1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.login-frame5621 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.login-text16 {
  color: var(--dl-color-neutral_04-light);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.login-text18 {
  color: var(--dl-color-neutral_04-light);
  height: auto;
  opacity: 0.00;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.login-frame4691 {
  gap: 8px;
  display: flex;
  padding: 14px 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 232, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
}
.login-text20 {
  color: var(--dl-color-neutral_04-light);
  height: auto;
  opacity: 0.50;
  flex-grow: 1;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Archivo;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.login-buttons {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.login-button-primary {
  display: flex;
  padding: 12px 24px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 40px;
  justify-content: center;
  background-color: var(--dl-color-default-gradient);
  background-image: linear-gradient(180deg, rgba(154, 119, 255, 1) 0%, rgba(115, 95, 250, 1) 100%);
}
.login-text22 {
  color: var(--dl-color-neutral_01-stillfcfdfe);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1200px) {
  .login-container2 {
    flex-direction: column;
  }
  .login-container3 {
    width: auto;
    align-self: center;
    margin-left: 0px;
  }
  .login-bg {
    width: 100%;
    margin-left: var(--dl-space-space-halfunit);
  }
  .login-container4 {
    width: auto;
    align-self: center;
    margin-left: 0px;
    padding-top: var(--dl-space-space-sixunits);
  }
}
@media(max-width: 991px) {
  .login-container3 {
    align-self: center;
  }
  .login-bg {
    margin-left: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .login-bg {
    margin-left: 0px;
  }
  .login-container4 {
    width: auto;
    margin-left: var(--dl-space-space-halfunit);
  }
}
