.onboard1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.onboard1-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.onboard1-container2 {
  flex: 0 0 auto;
  width: 40%;
  height: 600px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.onboard1-section {
  height: auto;
  display: flex;
  padding: 48px;
  z-index: 2;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 40px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-default-gradient);
  background-image: linear-gradient(180deg, rgba(154, 119, 255, 1) 0%, rgba(115, 95, 250, 1) 100%);
}
.onboard1-gigglr0111 {
  width: 53px;
  height: 65px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.onboard1-frame427319187 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.onboard1-frame427319399 {
  gap: 17px;
  width: 308px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.onboard1-frame4273191871 {
  gap: 8px;
  height: 80px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.onboard1-frame-basestepper {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.onboard1-frame-basestepper01 {
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 128px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.onboard1-text {
  color: rgba(88, 40, 196, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Archivo;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-frame-dividerstepper {
  width: 40px;
  height: 32px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.onboard1-divider {
  top: 16px;
  left: 0px;
  width: 40px;
  height: 1px;
  position: absolute;
}
.onboard1-textandsupportingtext {
  gap: 4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.onboard1-text01 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-text03 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.60;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Archivo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-frame427319400 {
  gap: 17px;
  width: 308px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.onboard1-frame4273191872 {
  gap: 8px;
  height: 80px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.onboard1-frame-basestepper02 {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.onboard1-frame-basestepper03 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 128px;
  flex-direction: column;
  justify-content: center;
}
.onboard1-text05 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Archivo;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-frame-dividerstepper1 {
  width: 40px;
  height: 32px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.onboard1-divider1 {
  top: 16px;
  left: 0px;
  width: 40px;
  height: 1px;
  position: absolute;
}
.onboard1-textandsupportingtext1 {
  gap: 4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.onboard1-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.60;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Archivo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-frame427319401 {
  gap: 17px;
  width: 308px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.onboard1-frame4273191873 {
  gap: 8px;
  height: 80px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.onboard1-frame-basestepper04 {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.onboard1-frame-basestepper05 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 128px;
  flex-direction: column;
  justify-content: center;
}
.onboard1-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Archivo;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-frame-dividerstepper2 {
  width: 40px;
  height: 32px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.onboard1-divider2 {
  top: 16px;
  left: 0px;
  width: 40px;
  height: 1px;
  position: absolute;
}
.onboard1-textandsupportingtext2 {
  gap: 4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.onboard1-text11 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-text13 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.60;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Archivo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-frame427319402 {
  gap: 17px;
  width: 308px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.onboard1-frame4273191874 {
  gap: 8px;
  height: 80px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.onboard1-frame-basestepper06 {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.onboard1-frame-basestepper07 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 128px;
  flex-direction: column;
  justify-content: center;
}
.onboard1-text15 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Archivo;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-frame-dividerstepper3 {
  width: 40px;
  height: 32px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.onboard1-divider3 {
  top: 16px;
  left: 0px;
  width: 40px;
  height: 1px;
  position: absolute;
}
.onboard1-textandsupportingtext3 {
  gap: 4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.onboard1-text16 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-text18 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.60;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Archivo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-frame427319403 {
  gap: 17px;
  width: 308px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.onboard1-frame427319188 {
  gap: 8px;
  height: 80px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.onboard1-frame-basestepper08 {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.onboard1-frame-basestepper09 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 128px;
  flex-direction: column;
  justify-content: center;
}
.onboard1-text20 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Archivo;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-frame-dividerstepper4 {
  width: 40px;
  height: 32px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.onboard1-divider4 {
  top: 16px;
  left: 0px;
  width: 40px;
  height: 1px;
  position: absolute;
}
.onboard1-textandsupportingtext4 {
  gap: 4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.onboard1-text21 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-text23 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.60;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Archivo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-frame427319404 {
  gap: 17px;
  width: 308px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.onboard1-frame4273191881 {
  gap: 8px;
  height: 80px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.onboard1-frame-basestepper10 {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.onboard1-frame-basestepper11 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 128px;
  flex-direction: column;
  justify-content: center;
}
.onboard1-text25 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Archivo;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-textandsupportingtext5 {
  gap: 4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.onboard1-text26 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-text28 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.60;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Archivo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-text30 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.60;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Archivo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-container3 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.onboard1-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.onboard1-inputs {
  gap: 24px;
  display: flex;
  padding: 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-neutral_01-white);
}
.onboard1-description {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.onboard1-text32 {
  color: rgba(132, 139, 148, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Archivo;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-text34 {
  color: rgba(50, 53, 57, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-text36 {
  color: rgba(132, 139, 148, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Archivo;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-videoplayer {
  width: 610px;
  height: 315px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
}
.onboard1-shadowoverlayplayer {
  top: 199px;
  left: 0px;
  width: 610px;
  height: 116px;
  position: absolute;
}
.onboard1-overlay {
  top: 0px;
  left: 0px;
  width: 610px;
  height: 315px;
  position: absolute;
}
.onboard1-frame-videoprogress {
  top: 287px;
  left: 12px;
  width: 578px;
  height: 16px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
}
.onboard1-background {
  top: 4px;
  left: 28px;
  width: 550px;
  height: 8px;
  opacity: 0.30;
  position: absolute;
  border-radius: 4px;
}
.onboard1-buffering {
  top: 4px;
  left: 28px;
  width: 582px;
  height: 8px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.onboard1-bufferingprogress {
  top: 0px;
  left: 0px;
  width: 88px;
  height: 8px;
  opacity: 0.50;
  position: absolute;
  border-radius: 4px;
}
.onboard1-progressline {
  top: 4px;
  left: 28px;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 4px;
}
.onboard1-play {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.onboard1-textandbadge {
  gap: 4px;
  top: 194.5px;
  left: 14px;
  width: 282px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.onboard1-badge {
  display: flex;
  padding: 2px 10px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.30000001192092896);
}
.onboard1-text38 {
  color: var(--dl-color-base-white);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Archivo;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-text40 {
  color: var(--dl-color-base-white);
  height: auto;
  font-size: 31px;
  font-style: Medium;
  text-align: left;
  font-family: Archivo;
  font-weight: 500;
  line-height: 44px;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.onboard1-ctasection {
  gap: 10px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(241, 245, 249, 1);
  border-style: solid;
  border-width: 1px 0 0;
  justify-content: space-between;
  background-color: var(--dl-color-neutral_01-white);
}
.onboard1-ghostbutton {
  gap: 8px;
  width: 100px;
  display: flex;
  opacity: 0.00;
  padding: 12px 24px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 232, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 40px;
  justify-content: center;
}
.onboard1-text42 {
  color: var(--dl-color-neutral_05-light);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.onboard1-button-primary {
  gap: 8px;
  width: 100px;
  display: flex;
  padding: 12px 24px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 40px;
  justify-content: center;
  background-color: var(--dl-color-default-gradient);
  background-image: linear-gradient(180deg, rgba(154, 119, 255, 1) 0%, rgba(115, 95, 250, 1) 100%);
}
.onboard1-text44 {
  color: var(--dl-color-neutral_01-stillfcfdfe);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1200px) {
  .onboard1-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .onboard1-container2 {
    width: auto;
    align-self: stretch;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .onboard1-section {
    flex-direction: column;
  }
  .onboard1-container3 {
    width: auto;
    align-self: stretch;
    margin-left: var(--dl-space-space-threeunits);
  }
  .onboard1-container4 {
    margin-top: var(--dl-space-space-sixunits);
  }
}
@media(max-width: 479px) {
  .onboard1-container3 {
    margin-left: 0px;
  }
}
