.sign-in-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.sign-in-signin {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: var(--dl-color-neutral_01-light);
}
.sign-in-frame589 {
  gap: 8px;
  width: 800px;
  height: auto;
  display: flex;
  padding: 32px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  margin-right: 800px;
}
.sign-in-bg {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
  border-radius: 40px;
}
.sign-in-pagination {
  gap: 16px;
  right: 391px;
  bottom: 70px;
  display: flex;
  z-index: 3;
  position: absolute;
  align-items: flex-start;
}
.sign-in-ellipse28 {
  width: 12px;
  height: 12px;
  border-color: rgba(252, 253, 254, 1);
  border-style: solid;
  border-width: 2px;
}
.sign-in-ellipse29 {
  width: 12px;
  height: 12px;
}
.sign-in-ellipse30 {
  width: 12px;
  height: 12px;
  border-color: rgba(252, 253, 254, 1);
  border-style: solid;
  border-width: 2px;
}
.sign-in-text {
  left: 147px;
  color: var(--dl-color-neutral_01-stillfcfdfe);
  width: 500px;
  bottom: 112px;
  height: auto;
  z-index: 2;
  position: absolute;
  font-size: 32px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.5) ;
  font-style: SemiBold;
  text-align: center;
  font-family: Archivo;
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-in-frame587 {
  gap: 32px;
  top: 77px;
  right: 81px;
  width: 640px;
  display: flex;
  padding: 0 160px 0 128px;
  z-index: 1;
  position: absolute;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.sign-in-gigglr0111 {
  width: 76.5px;
  height: 94.5px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-in-gigglr01111 {
  top: 0.0146484375px;
  left: -0.1138916015625px;
  width: 76px;
  height: 94px;
  position: absolute;
}
.sign-in-text02 {
  color: var(--dl-color-neutral_07-light);
  height: auto;
  font-size: 40px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: center;
  font-family: Archivo;
  font-weight: 600;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-in-openapp {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sign-in-button {
  gap: 16px;
  display: flex;
  padding: 14px 48px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 232, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  justify-content: center;
}
.sign-in-loginlogo {
  width: 24px;
  height: 24px;
}
.sign-in-text04 {
  color: var(--dl-color-neutral_07-light);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-in-button1 {
  gap: 16px;
  display: flex;
  padding: 14px 48px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 232, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  justify-content: center;
}
.sign-in-loginlogo1 {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-in-apple {
  top: 0px;
  left: 2.0000667572021484px;
  width: 20px;
  height: 24px;
  position: absolute;
}
.sign-in-text06 {
  color: var(--dl-color-neutral_07-light);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-in-frame590 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.sign-in-rectangle1313 {
  width: auto;
  height: 1px;
  flex-grow: 1;
  border-radius: 1px;
}
.sign-in-text08 {
  color: var(--dl-color-neutral_04-light);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: center;
  font-family: Archivo;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-in-rectangle1314 {
  width: auto;
  height: 1px;
  flex-grow: 1;
  border-radius: 1px;
}
.sign-in-frame588 {
  gap: 14px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sign-in-input {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.sign-in-frame562 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.sign-in-text10 {
  color: var(--dl-color-neutral_04-light);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-in-text12 {
  color: var(--dl-color-neutral_04-light);
  height: auto;
  opacity: 0.00;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-in-frame469 {
  gap: 8px;
  display: flex;
  padding: 14px 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 232, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
}
.sign-in-text14 {
  color: var(--dl-color-neutral_04-light);
  height: auto;
  opacity: 0.50;
  flex-grow: 1;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Archivo;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-in-input1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.sign-in-frame5621 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.sign-in-text16 {
  color: var(--dl-color-neutral_04-light);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-in-text18 {
  color: var(--dl-color-neutral_04-light);
  height: auto;
  opacity: 0.00;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-in-frame4691 {
  gap: 8px;
  display: flex;
  padding: 14px 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 232, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
}
.sign-in-text20 {
  color: var(--dl-color-neutral_04-light);
  height: auto;
  opacity: 0.50;
  flex-grow: 1;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Archivo;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-in-buttons {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.sign-in-button-primary {
  gap: 8px;
  display: flex;
  padding: 12px 24px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 40px;
  justify-content: space-between;
  background-color: var(--dl-color-default-gradient);
  background-image: linear-gradient(180deg, rgba(154, 119, 255, 1) 0%, rgba(115, 95, 250, 1) 100%);
}
.sign-in-text22 {
  color: var(--dl-color-neutral_01-stillfcfdfe);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-in-frame586 {
  gap: 629px;
  top: -9px;
  right: -11px;
  width: 1440px;
  display: flex;
  padding: 32px;
  z-index: 2;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.sign-in-ghostbutton {
  gap: 8px;
  display: flex;
  padding: 12px 24px;
  overflow: hidden;
  align-items: center;
  border-color: rgba(227, 232, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 40px;
  justify-content: center;
}
.sign-in-text24 {
  color: var(--dl-color-neutral_05-light);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.sign-in-login03 {
  width: 20px;
  height: 20px;
}
@media(max-width: 1200px) {
  .sign-in-bg {
    margin-left: 200px;
  }
  .sign-in-pagination {
    right: 287px;
    bottom: 57px;
    position: absolute;
  }
  .sign-in-text {
    left: 189px;
    bottom: 89px;
    margin-left: var(--dl-space-space-threeunits);
  }
  .sign-in-frame587 {
    right: -1px;
    bottom: 21px;
  }
}
@media(max-width: 991px) {
  .sign-in-bg {
    margin-left: 280px;
  }
  .sign-in-frame587 {
    right: -55px;
    bottom: 6px;
    height: 651px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
