.splash-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.splash-container1 {
  top: 0px;
  flex: 0 0 auto;
  right: 0px;
  width: auto;
  height: 100px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  background-color: #ffffff;
}
.splash-frame605 {
  gap: 10px;
  width: 621px;
  height: 91px;
  display: flex;
  padding: 20px 10px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 1);
}
.splash-ghostbutton {
  gap: 8px;
  width: 159px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(227, 232, 238, 1);
  border-style: solid;
  border-width: 2px;
  padding-left: 12px 24px;
  border-radius: 40px;
  padding-right: 12px 24px;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.splash-text {
  color: var(--dl-color-neutral_05-light);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.splash-login03 {
  width: 20px;
  height: 20px;
}
.splash-container2 {
  top: var(--dl-space-space-unit);
  flex: 0 0 auto;
  left: 637px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.splash-frame602 {
  gap: 64px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  margin-top: 200px;
  align-items: center;
  flex-shrink: 0;
  margin-left: 240px;
  flex-direction: column;
}
.splash-gigglr0111 {
  width: 57.5px;
  height: 94.5px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.splash-gigglr01111 {
  top: 0.014402389526367187px;
  left: -9.11370849609375px;
  width: 76px;
  height: 94px;
  position: absolute;
}
.splash-frame1 {
  gap: 2px;
  width: 333px;
  height: 66px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.splash-text02 {
  color: var(--dl-color-neutral_07-light);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: center;
  font-family: Archivo;
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.splash-text04 {
  color: var(--dl-color-neutral_07-light);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: center;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.splash-frame600 {
  width: 333px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.splash-text06 {
  color: var(--dl-color-neutral_07-light);
  width: 333px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Archivo;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.splash-frame593 {
  width: 333px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 47px;
  background-color: rgba(134, 107, 252, 1);
}
.splash-text08 {
  top: 12px;
  left: 140px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Archivo;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.splash-container3 {
  top: 95px;
  flex: 0 0 auto;
  left: 161px;
  width: auto;
  height: auto;
  display: flex;
  z-index: 100;
  position: absolute;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.splash-frame599 {
  gap: 70px;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.splash-frame597 {
  top: -1px;
  left: 13px;
  width: 668px;
  height: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.splash-rectangle4 {
  top: -54px;
  left: -130px;
  width: 668px;
  height: auto;
  position: absolute;
  border-radius: 15px;
}
.splash-frame598 {
  gap: 43px;
  left: 38px;
  width: 480px;
  bottom: -707px;
  height: 120px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
}
.splash-text10 {
  left: -60px;
  color: var(--dl-color-neutral_01-stillfcfdfe);
  width: 480px;
  bottom: -51px;
  height: auto;
  position: absolute;
  font-size: 32px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.5) ;
  font-style: SemiBold;
  text-align: center;
  font-family: Archivo;
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.splash-pagination {
  gap: 16px;
  right: -261px;
  bottom: -790px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.splash-ellipse28 {
  width: 12px;
  height: 12px;
  border-color: rgba(252, 253, 254, 1);
  border-style: solid;
  border-width: 2px;
}
.splash-ellipse29 {
  width: 12px;
  height: 12px;
}
.splash-ellipse30 {
  width: 12px;
  height: 12px;
  border-color: rgba(252, 253, 254, 1);
  border-style: solid;
  border-width: 2px;
}
